<h2>Recipes</h2>
<div class="boxes">
  <% @recipes.each do |recipe| %>
    <div class="box" style= "background-image: url(<%= recipe.img_url %>)">
      <p class="boxy">
        <%= link_to recipe.name, recipe_path(recipe) %>
        <% if current_user %>
          <% if recipe.users.include? current_user %>
            <span class= "favorite"><%= link_to "&hearts;".html_safe, remove_favorite_recipe_path(recipe), method: :delete, class: "red_favorite"%></span>
          <% else %>
            <span class= "favorite"><%= link_to "&hearts;".html_safe, add_favorite_recipe_path(recipe), method: :post%></span>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
  <% if current_user %>
    <a href="<%= new_recipe_path %>"><div style = "background-image: url(http://i.imgur.com/GkEIPFO.jpg)" class="box new_item"><span>+</span></div></a>
  <% end %>
</div>
