<h2>Recipes</h2>
<div class="boxes">
  <% @recipes.each do |recipe| %>
    <div class="box" style= "background-image: url(<%= recipe.img_url %>)">
      <p class="boxy">
        <%= link_to recipe.name, recipe_path(recipe) %>
          <% if recipe.users.include? current_user %>
            <span class= "favorite"><%= link_to "&hearts;".html_safe, remove_favorite_recipe_path(recipe), method: :delete, class: "red_favorite"%></span>
          <% else %>
            <span class= "favorite"><%= link_to "&hearts;".html_safe, add_favorite_recipe_path(recipe), method: :post%></span>
          <% end %>
    </div>
  <% end %>
</div>
<br>
<h2>Your Pantry</h2>
<div class="boxes">
  <% current_user.foods.each do |food| %>
    <div class="box" style= "background-image: url(<%= food.img_url %>)">
      <p class="boxy hover">
        <%= link_to food.name, food_path(food) %>
        <br>
        <small>
          <% if food.users.include? current_user %>
            (<%= link_to "Remove from pantry", remove_supply_food_path(food), method: :delete%>)
          <% else %>
            (<%= link_to "Add to pantry", add_supply_food_path(food), method: :post%>)
          <% end %>
        </small>
      </p>
      <small>

      </small>
    </div>
  <% end %>
</div>
