<h2><%= @recipe.name %>
  <% if current_user %>
   (<%= link_to "Edit", edit_recipe_path %>)
  <% end %>
 </h2>
<div class = "show recipe form">

  <% if @recipe.users.include? current_user %>
    <div class="food_item left recipe" style="background-image: url(<%= @recipe.img_url%>)">
      <%= link_to "<div><div>&hearts;</div></div>".html_safe, remove_favorite_recipe_path(@recipe), method: :delete, class: "red_favorite hidden food_item"%>
    </div>
  <% else %>
    <div class="food_item left recipe" style="background-image: url(<%= @recipe.img_url%>)">
      <%= link_to "<div><div>&hearts;</div></div>".html_safe, add_favorite_recipe_path(@recipe), method: :post, class: "hidden food_item"%>
    </div>
  <% end %>
  <div class = "middle">
    <h3>
      Ingredients:
    </h3>
    <% @recipe.ingredients.each do |ingredient| %>
      <div><%= "#{ingredient.amount} #{ingredient.unit_of_measure}" %> <%= link_to ingredient.food.name, food_path(ingredient.food), class: "ingredient"%></div>
      <% end %>
  </div>
  <div class="right">
    <h3>Instructions:</h3>
    <div style="white-space: pre-line;"><%= @recipe.instructions %></div>
  </div>
</div>
