<h2><%= @food.name %> (<%= link_to "Delete", @food, method: :delete, class: "delete" %>)</h2>
<%= form_for @food do |f| %>
<div class="food form">
  <div class = "right">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :serving_size %>
      <%= f.text_field :serving_size %>
    </div>
    <div>
      <%= f.label :unit_of_measure %>
      <%= f.text_field :unit_of_measure %>
    </div>
    <div>
      <%= f.label :img_url %>
      <%= f.text_field :img_url %>
    </div>
    <div>
      <%= f.label :calories %>
      <%= f.text_field :calories %>
    </div>
    <div>
      <%= f.label :fat %>
      <%= f.text_field :fat %>
    </div>
    <div>
      <%= f.label :carbohydrates %>
      <%= f.text_field :carbohydrates %>
    </div>
    <div>
      <%= f.label :protein %>
      <%= f.text_field :protein %>
    </div>
    <div>
      <%= f.label :vegetarian %>
      <%= f.text_field :vegetarian %>
    </div>
    <div>
      <%= f.label :gluten_free %>
      <%= f.text_field :gluten_free %>
    </div>
  </div>
</div>
<%= f.submit "Enter", class: "enter_button"%>
<% end %>
