<h2><%= @food.name %></h2>
<div class="food_item" style="background-image: url(<%= @food.img_url%>)"></div>
<p>Information (per serving: <%= @food.serving_size %> <%= @food.unit_of_measure %>)</p>
<ul>
  <li>Calories: <%= @food.calories %></li>
  <li>Fat: <%= @food.fat %> grams</li>
  <li>Carbohydrates: <%= @food.carbohydrates %> grams</li>
  <li>Protein: <%= @food.protein %> grams</li>
  <li>Vegetarian: <%= @food.vegetarian ? "Yes" : "No" %></li>
  <li>Gluten Free: <%= @food.gluten_free ? "Yes" : "No"%></li>
</ul>

<h2>Recipes that include this food:</h2>
<div class="boxes">
  <% @recipes.each do |recipe| %>
    <div class="box" style= "background-image: url(<%= recipe.img_url %>)">
      <p class="boxy">
        <%= link_to recipe.name, recipe_path(recipe) %> <span class= "favorite">&hearts;</span>
      </p>
    </div>
  <% end %>
</div>
