<!DOCTYPE html>
<html>
  <head>
    <title>Railfridgerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "header_left">
        <img src="http://i.imgur.com/HRIQ3Sp.png" class= "logo" alt="fridge">
        <span class="splash">FridgerApp</span>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class = "login">
        <% if current_user %>
          <%= "#{current_user.email} | "%><%=link_to "Log Out", destroy_user_session_path, :method => :delete  %>
        <% else %>
          <%= link_to "Log In", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>

    </header>
    <div class = "content_body">
      <aside class = "left_bar">
        <a class = "aside_link" href="<%=foods_path%>"><div class = "aside_link">Foods</div></a>
        <a class = "aside_link" href="<%=recipes_path%>"><div class = "aside_link">Recipes</div></a>
        <% if current_user %>
        <a class = "aside_link" href="<%=recipes_possible_path%>"><div class = "aside_link">What can I make?</div></a>
        <div class = "pantry">Your Refrigerator
          <ul>
            <% current_user.foods.each do |food| %>
              <li><%= link_to food.name, food_path(food) %> (<%= link_to "-", remove_supply_food_path(food), method: :delete%>)</li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </aside>
      <div class = "yield">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
