<!DOCTYPE html>
<html>
  <head>
    <title>Railfridgerator</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  /* I think I understand your rationale for putting this here, but I think that if you had a lot of this type of session-dependent styles in the application layout, it would scale messily. Another approach would be to conditionally apply the style wherever the boxy-class p tags occur. */
    <% if current_user %>
      p.boxy.hover:hover {
        height: 26%;
      }
      p.boxy.hover:hover > small {
        opacity:1;
      }
    <% end %>
  </style>
  <body>
    <header>
      <div class = "header_left">
        <a href="<%= root_path %>">
          <img src="http://i.imgur.com/HRIQ3Sp.png" class= "logo" alt="fridge">
          <span class="splash">FridgerApp</span>
        </a>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class = "login">
        <% if current_user %>
          <%= "#{current_user.email} | "%><%=link_to "Log Out", destroy_user_session_path, :method => :delete  %>
        <% else %>
          <%= link_to "Log In", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>

    </header>
    <div class = "content_body">
      <aside class = "left_bar">
        <a class = "aside_link" href="<%=foods_path%>"><div class = "aside_link">Foods</div></a>
        <a class = "aside_link" href="<%=recipes_path%>"><div class = "aside_link">Recipes</div></a>
        <% if current_user %>
        <a class = "aside_link" href="<%=recipes_possible_path%>"><div class = "aside_link">What can I make?</div></a>
        <a class = "aside_link" href="<%=recipes_favorites_path%>"><div class = "aside_link">My Recipe Box!</div></a>
        <div class = "pantry">Your Refrigerator
          <ul>
            <% current_user.foods.each do |food| %>
              <li><%= link_to food.name, food_path(food) %> (<%= link_to "-", remove_supply_food_path(food), method: :delete%>)</li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </aside>
      <div class = "yield">
        <%= yield %>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
    $('.food_item.recipe').hover(
      function() {$('.food_item.recipe > a').toggle();} ,
      function() {$('.food_item.recipe > a').toggle();}
    );
  </script>
  </body>
</html>
